doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    script(src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8")

    - $assetsPath= sprintf("http://%s:%s/", ART_ASSET_HOST, ART_ASSET_PORT)
    link(rel="stylesheet" href="${assetsPath}node_modules/bootstrap/dist/css/bootstrap-reboot.css")

    //- コンタクトフォームを含むページにのみこのコードをwp_headの前に挿入すること 
    - wpcf7_enqueue_scripts()
    - wpcf7_enqueue_styles()
    
    - wp_head()
    script(src="${assetsPath}main.js")
  body(class=get_body_class())
    .container
      header.site-header
        h1.site-title shop
      #v-app
        #cart
          p cart
          .cart-detail
            Cart
          a(v-show='$store.state.cartedItems.length' href="#" @click.prevent='$store.commit("openChecker")') check out
          
        Checker(v-show='$store.state.isCheckerOpen')
        #showcase
          for i in [1,2,3,4,5,6,7,8,9]
            if have_posts()
              while have_posts()
                - the_post()
                - $post_id= get_the_ID()
                - $post_title= get_the_title()
                - $selling_price= get_post_meta($post_id, "item_selling_price", true)
                article(
                  id="post-${post_id}"
                  class=get_post_class("entry")
                )
                  header.entry-header
                    h2.entry-title: a(href=get_permalink() rel="bookmark")= $post_title
                    .entry-meta
                      span.item-price price: &yen;#{$selling_price}
                      a(
                        href="#"
                        @click.prevent="addToCart('$post_id', '$post_title', '$selling_price')"
                      ) add to cart
                  .entry-content
                    - the_content("continue reading")
    
    //- contact-form-7を描画
    //- - add_filter("the_content", function(){return '[contact-form-7 title="shop"]';})
    //- - the_content()
    - wp_footer()
